@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
}

#table {
  border: 10px solid #f9da53;
}

#robot {
  font-size: 5em;
}

.cell > .MuiPaper-root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flex-column-center {
  display: flex;
  align-items: center;
  gap: 2em;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  gap: 2em;
}

:root {
  font-family: 'Open Sans', sans-serif;
}

.button {
  color: white;
  background-color: black;
  border: none;
  padding: 0.85rem 2rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: center;
}

.flex-row {
  display: flex;
  gap: 1.5em;
}

.north {
  transform: rotate(0deg);
}

.east {
  transform: rotate(90deg);
}

.south {
  transform: rotate(180deg);
}

.west {
  transform: rotate(270deg);
}

#rotate-label {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

div > .special-button {
  background-color: #f9da53;
  color: black;
}

.warning-message {
  color: red;
}

.text-centre {
  text-align: center;
}
