

.container{
  display: flex;
  justify-content: space-around;
  height: 100vh;
  background-color: lightpink;
  width:100%;
}

#table {
  background-color: lightblue;
  width: 600px;
  height: 600px;
  position: relative;
} 

#robot {
  position: absolute;
  right: 0;
  top: 80px;
  border: 3px solid #73AD21
}